<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="ELASTIC_ENABLED" source="logging.elasticsearch.enabled" defaultValue="false"/>
    <springProperty scope="context" name="ELASTIC_ENDPOINT" source="logging.elasticsearch.endpoint" defaultValue=""/>
    <springProperty scope="context" name="ELASTIC_INDEX" source="logging.elasticsearch.index" defaultValue="sboot-security-base-api-gateway-logs"/>
    <springProperty scope="context" name="ELASTIC_API_KEY" source="logging.elasticsearch.api-key" defaultValue=""/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5level [%thread] [%X{correlationId:-N/A}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ELASTIC" class="com.example.gateway.logging.ElasticsearchLogAppender">
        <enabled>${ELASTIC_ENABLED}</enabled>
        <endpoint>${ELASTIC_ENDPOINT}</endpoint>
        <index>${ELASTIC_INDEX}</index>
        <apiKey>${ELASTIC_API_KEY}</apiKey>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ELASTIC"/>
    </root>
</configuration>
